
*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
}

/*
.container{
  background-color: grey;
  padding: 10px; 
  margin: 50px;  
  height: 600px; 
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;    
  align-content: flex-start;
  justify-content: spaced-evenly;
  align-content: spaced-evenly; 

}

.item{
  background-color: red;
  color: white; 
  font-size: 35px;
  padding: 20px; 
  margin: 10px;   
} */ 


.parentContainer1{
  display:flex; 
}


 
.container{
  background-color: grey;
  padding: 0px; 
  padding-left: 100px;  
  height: 100px; 
  width: 50%;
  display: flex; 
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.item{
  color: white; 
  font-size: 35px;
  padding: 20px; 
  margin: 10px; 
} 


.container2 
{
  background-color: grey;
  padding: 0px; 
  padding-right: 100px;  
  height: 100px; 
  width: 50%;
  display: flex; 
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.link{
  font-size: 35px;
  padding: 20px; 
  margin: 10px; 
} 

a:link{
  color:white; 
  text-decoration: none;
  border-radius: 25px;
}

a:hover{
  background-color: black;
}

a:visited{
  text-decoration: none;
  color: white;
}

.parentContainer2{
  display:flex; 
}

.container3{
  background-color: grey;
  padding: 0px; 
  padding-left: 130px;  
  height: 500px; 
  width: 50%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.headerSum{
  font-size: 55px;
  color:white
}


.container4{
  background-color: grey;
  padding: 0px; 
  padding-left: 100px;  
  height: 500px; 
  width: 50%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  border-radius: 10%;
}


.parentContainer3{
  display:flex; 
  height: 180px;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}

.parentContainer4{
  display: flex;
  align-items: center;
  height: 200px;
  align-items: flex-end;
  justify-content: space-around;
  padding-left:200px;
  padding-right:200px;
}

.animalPic{
  height: 150px;
}

.parentContainer5{
  display: flex;
  align-items: center;
  height: 200px;
  align-items: flex-start;
  justify-content: space-around;
  padding-left:200px;
  padding-right:200px;
}

.parentContainer6{
  display: flex;
  background-color: rgb(153, 204, 255); 
  justify-content: center;
  align-items: center;
  height: 400px;
  padding-left:200px;
  padding-right:200px;
}


.quote{
  font-size: 30px;
}

.parentContainer7{
  display:flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.parentContainer8{
  display: flex;
  flex-direction: column;
  background-color:#A9A9A9;
  height: 200px;
  width: 300px;
  border-radius: 1em;
  justify-content: space-evenly;
  align-items: center;
}

.callToAction{
  color: beige;
  font-size: 20px;
}

.adoptLink{
  font-size: 30px;
  
}

.adoptLink:link{
  color:white; 
  text-decoration: none;
  border:1px solid white;
  border-radius: 25px;
}

.adoptLink:hover{
  border:1px solid white;
  background-color: black;
}

.adoptLink:visited{
  text-decoration: none;
  color: white;
}

.parentContainer9{
  display: flex;
  height: 50px; 
  flex-direction: row;
  background-color: grey;
  justify-content: center;
  align-items: center;
}

